<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235499332635-5l97ur5ns1v59o0cbm54214ai7s6le3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235499332635-5l97ur5ns1v59o0cbm54214ai7s6le3u</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ezhc1-ckqD0KaLPouIZv0x0ZIx59Esg</string>
	<key>GCM_SENDER_ID</key>
	<string>235499332635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tp3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-cebc2</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-cebc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235499332635:ios:732e25df8f89a19df444be</string>
</dict>
</plist>